##################################################################################
#
# 配置默认端口号访问 约定为 8088
#
##################################################################################
server:
  port: 8088
  tomcat:
    uri-encoding: UTF-8
  max-http-header-size: 80KB

##################################################################################
#
# 配置数据源
#
##################################################################################
spring:
  datasource:                                           # 数据源的相关配置
    type: com.zaxxer.hikari.HikariDataSource            # 数据源类型：HikariCP
    driver-class-name: com.mysql.cj.jdbc.Driver         # mysql驱动
    url: jdbc:mysql://localhost:3306/foodie-shop?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true
    username: root
    password: Mysql8.0
    hikari:
      connection-timeout: 30000       # 等待连接池分配连接的最大时长（毫秒），超过这个时长还没可用的连接则发生SQLException， 默认:30秒
      minimum-idle: 5                 # 最小连接数
      maximum-pool-size: 20           # 最大连接数 最大连接数并不越大越好，需要配合服务器硬件设置
      auto-commit: true               # 自动提交开启
      idle-timeout: 600000            # 连接超时的最大时长（毫秒），超时则被释放（retired），默认:10分钟
      pool-name: DateSourceHikariCP   # 连接池名字
      max-lifetime: 1800000           # 连接的生命时长（毫秒），超时而且没被使用则被释放（retired），默认:30分钟 1800000ms
      connection-test-query: SELECT 1

##################################################################################
#
# 配置Mybatis
#
##################################################################################
mybatis:
  type-aliases-package: com.o0u0o.pojo      # 所有 POJO 类所在包路径
  mapper-locations: classpath:mapper/*.xml  # mapper 映射文件

############################################################
#
# mybatis mapper 配置
#
############################################################
# 通用 Mapper 配置
mapper:
  mappers: com.o0u0o.my.mapper.MyMapper
  not-empty: false
  identity: MYSQL