<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="genSqlFilePath" value="$PROJECT_DIR$/foodie-pojo/src/main/java/com/o0u0o/pojo" />
      </ProjectProfile>
    </option>
  </component>
</project>